@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./roboto/300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./roboto/400.ttf') format('truetype');
}

/* Styles */
* {
	box-sizing: border-box;
	user-select: none;
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	color: white;
	background-color: #191a19;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	touch-action: none;
}

.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content auto;
	row-gap: 15px;
	padding: 10px 20px 20px 20px;
}

.assets {
	display: none;
}

#title {
	font-size: 50px;
	font-weight: 400;
	margin-bottom: 9px;
	text-align: center;
	grid-row: 1;
	grid-column: 1 / 4;
}

#canvas {
	width: 100%;
	height: 100%;
}

#timer {
	position: absolute;
	left: 5px;
	top: 1px;
}

#settings {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #8b949e;
	fill: currentColor;
	display: flex;
	flex-direction: column;
	align-items: end;
}

#settings-toggle {
	cursor: pointer;
}

#settings-toggle:hover {
	color: #9fa8b3
}

#settings-close {
	position: absolute;
	display: none;
	top: -10px;
	right: -10px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.45);
}

#menu {
	color: white;
	background-color: #313331;
	border-radius: 6px;
	padding: 4px 0px;
	margin-top: 8px;
	display: none;
	z-index: 1;
	flex-direction: column;
}

.menu-row {
	text-align: center;
	cursor: not-allowed;
	padding: 1px 24px;
	color: #919191;
}

.active.menu-row {
	color: white;
	cursor: pointer;
}

.active.menu-row:hover {
	background-color: #373a37;
}

.nojs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
}

@media only screen and (max-width: 770px) {
	.title {
		font-size: 28px;
	}

	body {
		font-size: 20px;
	}

	.container {
		padding: 27px 0px 0px 0px;
	}
}

@media only screen and (max-width: 380px){
	.title {
		font-size: 22px;
	}

	body {
		font-size: 18px;
	}
}

@media only screen and (max-height: 680px) {
	.title {
		font-size: 28px;
		margin-bottom: 3px;
	}

	body {
		font-size: 20px;
	}
}
